<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Event Page</title>
  <link rel="stylesheet" href="/css/eventPage.css">
</head>

<body>
  <h1><%= eventTitle %></h1>
  <h3><%= ngoName %></h3>
  <p style="color: #3BACB6;"><strong><%= eventTags %></strong></p>
  <p><%= eventDescription %></p>
  <p><%= eventRequirements %></p>
  <hr>
  <h3>Contact Details</h3>
    <br>
     <p>☎ <%= phoneNumber %></p>
    <br>
     <p>✉ <%= emailId %></p>
  </p>
  <hr>
  <br>
</body>

</html>
