<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Shravya's Portfolio</title>
  <link rel="stylesheet" href="/css/eventPage.css">
</head>

<body>
  <h1><%= event-title %></h1>
  <h3><%= ngo-name %></h3>
  <p style="color: #3BACB6;"><strong><%= event-tags %></strong></p>
  <p><%= event-description %></p>
  <p><%= event-requirements %></p>
  <hr>

  <hr>
  <h3>Contact Details</h3>
    <br>
    ☎ <p><%= phone-number %></p>
    <br>
    ✉ <p><%= emaid-id %></p>
  </p>
  <hr>
  <br>
</body>

</html>
